---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE, BASE } from '../consts';
---

<header>
	<h1>
		{SITE_TITLE}
	</h1>
	<nav>
		<HeaderLink href={BASE + ""}>Home</HeaderLink>
		<HeaderLink href={BASE + "blog"}>Blog</HeaderLink>
		<HeaderLink href={BASE + "about"}>About</HeaderLink>
		<HeaderLink href='https://christopherjcarlin.com' target="_blank">Portfolio</HeaderLink>
		<HeaderLink href="https://github.com/brunscii" target="_blank">GitHub</HeaderLink>
	</nav>
</header>
<style>
	header {

		display: grid;
		width: 100%;

		justify-content: center;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		background-color: rgba(0, 0, 0, 0.2);
		border-radius: 0px 0 10px 10px;
		backdrop-filter: blur(5px) grayscale(.45);
		-webkit-backdrop-filter: blur(5px) grayscale(.45);
		
		position: fixed;

	}
	h1 {
		/* font-size: 2.75rem; */
		margin: 0;
		color: var(--link-color);
		text-align: center;
		
		/* width: fit-content; */
		/* text-shadow: .1em .1em 0.12em #00ffffaf; */
	}

    nav {
        /* margin-bottom: .2em; */
				/* overflow: hidden; */
    }

		nav a{
			padding-inline: 1em;
		}

    nav a:hover {
        /* background-color: #50105d; */
				/* opacity:.3; */
				border-radius: 2px;
				background: linear-gradient( 45deg, rgba(255, 0, 0, 0.192), rgba(0, 0, 255, 0.329)),
										linear-gradient( -45deg, rgba(255, 0, 0, 0.192), rgba(0, 0, 255, 0.329));
    }

</style>
